
.terraform.lock.hcl

.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/LICENSE.txt

.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/terraform-provider-azurerm_v4.14.0_x5.exe

username-terraform/.terraform/providers/registry.terraform.io/hashicorp/azuread/3.0.2/windows_amd64/terraform-provider-azuread_v3.0.2_x5.exe

username-terraform/.terraform/providers/registry.terraform.io/hashicorp/azuread/3.0.2/windows_amd64/LICENSE.txt

username-terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/LICENSE.txt

username-terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/terraform-provider-azurerm_v4.14.0_x5.exe

container-terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/LICENSE.txt

container-terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/terraform-provider-azurerm_v4.14.0_x5.exe

container-terraform/terraform.tfstate

container-terraform/terraform.tfstate.backup

cosmosdb-nosql-try2/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/LICENSE.txt

cosmosdb-nosql-try2/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.14.0/windows_amd64/terraform-provider-azurerm_v4.14.0_x5.exe
